@{ ViewBag.Title = "About Me"; }

<div class="container">
    <div>
        <h2 class="text-center"> About Me </h2>
    </div>
    <div class="row mt-4">
        <div class="col-lg-4">
            <img src="~/images/fish.png" class="img-fluid rounded" alt="Website developer Jacob holding fish" />
        </div>
        <div class="col-lg-8 mt-4 mt-lg-0">
            <div class="row">

                <h4> Hello! </h4>

            </div>
            <div class="row mt-2">
                <p> Thank you for taking the time to check out my Fishing Webpage </p>
                <p> My name is Jacob DiFrank and I am currently a student at the University of Cincinnati working towards a degree in Information Technology Software Development. </p>
                <p> In my spare time, I enjoy spending time with friends and family, hiking, backpacking, and of course fishing </p>
                <p>
                   I started fishing at a very young age. My earliest memories include going to our local pond and using pieces of hotdog to catch bluegill and bass. 
                    As I grew older, I moved on from the more primitive bait fishing and started working at more elaborate techniques and species.
                    Growing up in the midwest gives you a real appreciation for the outdoors. With the great lakes to the north and numerous smaller lakes and streams scattered around, theres always a good fishing spot in your vicinity.
                </p>
               
                <p>
                    This website acts as a catalogue for some of the fish you can find here in ohio as well as some techniques on how to catch them. 
                    While it can be challenging, fishing is a wonderful hobby to try and there are myriad resources out there to help beginners get the hang of it.
                </p>

            </div>



        </div>
    </div>


</div>
<script>$(document).ready(function () {
        $("img").hide().fadeIn(2000);
    });</script>