@{ ViewBag.Title = "Fishing Advice"; }
<div class="container">
    <div>
        <h2 class="text-center"> Fishing Advice </h2>
    </div>
    <div class="row mt-3">
        <h4 class="text-center"> Here are some tips and tricks I have picked up along the years. </h4>

    </div>
    <div class="row mt-2">
        <p>
            The golden rule of fishing is <b> HAVE PATIENCE </b>
            Fishing, like any other discipline, requires knowledge, practice, and above all patience. Getting skunked at a new fishing spot, while demoralizing,
            is bound to happen. Learning from that experience is the key to mastering the craft.
        </p>


    </div>
    <div class="mt-2">
        <p>
            <b> Learn your knots:  </b>
            Knots are crucial in fishing. The most essential knot that every should learn first is called the Palomar knot. It's a great all purpose knot, is easy to tie,
            and is incredibly strong.
        </p>

        <p>
            <b> Fish with a Friend:  </b>
            Fishing has a reputation of being a bit mundane. The easiest way to remedy this is bring someone to fish with. You could each be trying a different technique to find
            out what is working, and if nothing else, a good conversation can fill the time in between bites.
        </p>

        <p>
            <b> Finding spots:  </b>
            There are several ways to find spots to go fishing. While looking at local fishing guides can be useful, one of the best methods I've found 
            is by using Google Earth. Google Earth is a great tool because on large bodies of water, you can actually see rock structures in the water which are good locations to cast a line
        </p>

        <p>
            <b> Do research BEFORE you go fishing:  </b>
            While this isn't crucial for spots you've already fished and are comfortable with, researching a body of water you've never been to is always a good idea. 
            Find out what species the body of water contains and plan your techniques and gear before hand. Being organized is incredibly useful on a fishing trip
        </p>

        <p>
            <b> Check local regulations:  </b>
            Each state has a deparment of wildlife that sets rules and regulations for the type of equipment you're allowed to use as well as size and species requirements for 
            keeping fish.
        </p>

        <p>
            <b> Have your fishing license on you:  </b>
            A fishing license is your ticket to being able to fish anywhere in the state that isn't private property. They're avaliable online or at most sporting good stores
            and the proceeds go directly to the Department of Wildlife to help promote healthy ecosystems. You can keep a paper copy on you, or a digital copy on your phone.
        </p>
    </div>

</div>


