@{ ViewBag.Title = "Resources"; }
<div class="container">
    <div>
        <h2 class="text-center"> Resources </h2>
    </div>
    <div class="row mt-3">
        <p> On this page you will find a few Blogs, Books, and Youtube channels that are great resources for someone trying to get into fishing </p>
        <p>
            These are resources I often reference to learn about new techniques, knots, or just to get some inspiration
        </p>
    </div>
    <div class="row mt-2">
        <p><b>Fishing Blogs: </b> </p>
    </div>
    <div class="row col-lg-8">
        <ul>
            <li> <a href="https://www.takemefishing.org/blog/"> Take Me Fishing</a> </li>
            <li> <a href="https://www.moldychum.com/"> Moldy Chum</a></li>
            <li> <a href="https://blog.fishingmegastore.com/">Fishing Mega Store</a></li>
            <li> <a href="https://news.orvis.com/fly-fishing">Orvis Fly Fishing</a></li>
            <li> <a href="https://fishingbooker.com/blog/"> FishingBooker</a></li>
        </ul>

    </div>
    <div class="row mt-2">
        <p><b>Fishing Books: </b> </p>
    </div>
    <div class="row col-lg-8">
        <ul>
            <li>
                <a href="https://www.amazon.com/Complete-Fishing-Knots-Leaders-Lines/dp/163220536X/ref=zg_bs_16480_26?_encoding=UTF8&psc=1&refRID=HAEMT9Z2VTDQH6BF761F">
                    The Complete Book of Fishing Knots, Leaders, and Lines
                </a>
            </li>
            <li> <a href="https://www.amazon.com/Basic-Fishing-Beginners-Wade-Bourne/dp/1632203383/ref=pd_bxgy_img_3/134-7119209-0670851?_encoding=UTF8&pd_rd_i=1632203383&pd_rd_r=74a3de9f-72ed-4bd6-a993-aee2a12622aa&pd_rd_w=4cY8E&pd_rd_wg=b90vP&pf_rd_p=f325d01c-4658-4593-be83-3e12ca663f0e&pf_rd_r=G4N7EPKF1T9WD2KX91R2&psc=1&refRID=G4N7EPKF1T9WD2KX91R2"> 
                    Basic Fishing: A Beginner's Guide</a></li>
            <li> <a href="https://www.amazon.com/dp/1620871750/ref=sspa_dk_detail_5?psc=1&pd_rd_i=1620871750&pd_rd_w=yiYM0&pf_rd_p=7d37a48b-2b1a-4373-8c1a-bdcc5da66be9&pd_rd_wg=gRiK1&pf_rd_r=MX7S2M0V7EMP22BXJD99&pd_rd_r=c6dde103-74b7-430c-9bac-bc1ee9975c40&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFQWTU1MURaMEFCNTQmZW5jcnlwdGVkSWQ9QTAwMjgzNDQzUlNCUVhHNVkxVlZLJmVuY3J5cHRlZEFkSWQ9QTA2NjQ5NTYzUzU5NUhGVTE1TUs0JndpZGdldE5hbWU9c3BfZGV0YWlsJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==">
                    1,001 Pearls of Fishing Wisdom: Advice and Inspiration for Sea, Lake, and Stream</a></li>
            <li>
                <a href="https://www.amazon.com/dp/1510711120/ref=sspa_dk_detail_2?psc=1&pd_rd_i=1510711120&pd_rd_w=yiYM0&pf_rd_p=7d37a48b-2b1a-4373-8c1a-bdcc5da66be9&pd_rd_wg=gRiK1&pf_rd_r=MX7S2M0V7EMP22BXJD99&pd_rd_r=c6dde103-74b7-430c-9bac-bc1ee9975c40&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUFQWTU1MURaMEFCNTQmZW5jcnlwdGVkSWQ9QTAwMjgzNDQzUlNCUVhHNVkxVlZLJmVuY3J5cHRlZEFkSWQ9QTA0Mzg1NTEzTlU2NE5DNFRTV01ZJndpZGdldE5hbWU9c3BfZGV0YWlsJmFjdGlvbj1jbGlja1JlZGlyZWN0JmRvTm90TG9nQ2xpY2s9dHJ1ZQ==">
                    The Ultimate Guide to Kayak Fishing
                </a>
            </li>
            <li>
                <a href="https://www.amazon.com/dp/1643891537/ref=sspa_dk_detail_5?psc=1&spLa=ZW5jcnlwdGVkUXVhbGlmaWVyPUEyTEs1MzBPUEhXR0k1JmVuY3J5cHRlZElkPUEwMjEwNDExWDhJQlgxVFlEVE9ZJmVuY3J5cHRlZEFkSWQ9QTA5MDE4NTczQ0RVSkxXRTROOURNJndpZGdldE5hbWU9c3BfZGV0YWlsMiZhY3Rpb249Y2xpY2tSZWRpcmVjdCZkb05vdExvZ0NsaWNrPXRydWU=">
                    The Fine Art of Fishing
                </a>
            </li>
        </ul>

    </div>
    <div class="row mt-2">
        <p><b>Fishing YoutTube Channels: </b> </p>
    </div>
    <div class="row col-lg-8">
        <ul>
            <li>
                <a href="https://www.youtube.com/user/uncutangling"> Uncut Angling </a>
            </li>
            <li> <a href="https://www.youtube.com/user/fishinggeeks"> FishingGeeks </a></li>
            <li> <a href="https://www.youtube.com/user/j0j0barz33">Fishing the Midwest</a></li>
            <li> <a href="https://www.youtube.com/channel/UCPaEXEdZOwTDxwXT6vJosGg">YouTubeFISHINGVIDS</a></li>
            <li> <a href="https://www.youtube.com/user/InDepthOutdoorsTV"> InDepthOutdoors</a></li>
        </ul>

    </div>
</div>

